.box{
    background-color: #f1eee2;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.roundColorDisplay{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;

}